.one {background-color: rgb(216, 95, 95);}

.two {background-color: rgb(244, 253, 115);}

.three {background-color: rgb(76, 199, 60);}

.four {background-color: rgb(20, 212, 180);}

.five {background-color: rgb(16, 121, 219);}

.six {background-color: rgb(103, 31, 235);}

.seven {background-color: rgb(255, 43, 43);}

.eight {background-color: rgb(201, 0, 252);}

.nine {background-color: rgb(224, 37, 178);}

.ten {background-color: #2d6bb3;}