* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 9px;
    grid-auto-flow: dense;
    border-radius: 20px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container div {
    border-radius: 15px;
    overflow: hidden;
}
.horizontal {
    grid-column: auto / span 2;
}

.vertical {
    grid-row: auto / span 2;
}